
html {
    background-color: #c9d1d9;
    /* background-color: rgb(204, 193, 193); */
    /* font-family: "verdana", "sans-serif";*/
    font-family: 'Open Sans', sans-serif;
    /* font-family: sans-serif; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*
#nav-menu{
    height: 68px;
    width: 100%;
    background-color: #213549;
    color: white;
    display: block;
    position: fixed;
    align-items: center;
    align-content: center;
    margin-top: -150px;
}
.nav_link-container{
    height: 68px;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #c9d1d9;
    margin-top: 0;
    
}
.nav_link-container a{
    text-decoration: none;
    color: #c9d1d9;
}
*/



a {
    text-decoration: none;
    color: #c9d1d9;
    /* font-size: 1.2rem; */
    font-weight: bold;
    /* text-transform: uppercase; */
  }

/* nav styles */

.nav-manu {
    height: 78px;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding-top: 7px;
    background-color: #213549;
    color: white;
    margin-top: -150px;
  }
  
  .logo {
    font-size: 1.8rem;
    color: rgb(5, 5, 116);
    padding-left: 90px;
  }
  
  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }
  
  .hamburger .line {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px;
    background-color: white;
  }
  
  .nav__link-container {
    position: fixed;
    width: 40%;
    /* top: 4rem; */
    top: 70px;
    right: 1px;
    background-color: #213549;
    border-radius: 7PX;
    /* display: ; */
    font-weight: bold;
    opacity: 0.9;
  }
  
  .nav__link-container a {
    display: block;
    text-align: center;
    padding: 10px 0;
    margin: 2px;
  }
  
  .nav__link-container a:hover {
    /* background-color: lightcoral; */
  }
  
  .hide {
    display: none;
  }


  @media screen  and (min-width: 900px) {
    .nav__link-container {
      display: block;
      position: static;
      width: auto;
      margin-right: 20px;
      background: #213549;
    }
  
    .nav__link-container a {
      display: inline-block;
      padding: 15px 20px;
    }
  
    .hamburger {
      display: none;
    }
  }

#resume-link-1{
    border: 1px solid #c9d1d9;
    border-radius: 7px;
}




/* ------------ll */

#resume-button-2 {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 7px;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 17px 18px;
    color: #213549;
    background-color: #c9d1d9;
    height: 48px;
}

.project-github-link:hover {
    transform: scale(1.04);
    color: white;
    background-color: #213549;
}

.project-deployed-link:hover {
    transform: scale(1.04);
    color: white;
    background-color: #213549;
}

/* ------home------------- */

#home {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    width: 78%;
    margin: 150px auto 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 100vh; */
}

.child1 {
    padding: 1em;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    background-color: #213549;
    border-radius: 10px;
    object-fit: cover;
}

img {
    object-fit: cover;
}

.child2 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1em;
    font-size: calc(34px + 0.390625vw);
    color: #213549;
}
.child2>#user-detail-name{
    font-size: calc(88px + 0.390625vw);
}

/*------------------- about ---------------*/

#about {
    width: 70%;
    height: 340px;
    padding: 1em;
    margin: 60px auto 0px;
    color: #c9d1d9;
    display: flex;
    justify-content: space-between;
    background-color: #333469;
    border-radius: 9px;
    object-fit: cover;
}

#about_resBut {
    margin: auto;
    padding: 1em;
    object-fit: cover;
    width: 60%;
}

#about #home-div {
    height: 300px;
    object-fit: cover;
    margin: auto;
    padding: 1em;
    background-color: #c9d1d9;
    border-radius: 9px;
}

/*------------ skill -----------------*/

.header {
    text-align: center;
}

#skills {
    width: 70%;
    margin: auto;
    margin: 60px auto 0px;
    background-color: #333469;
    border-radius: 9px;
    display: flex;
    justify-content: space-evenly;
}

.skill_cont {
    padding: 1em;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 50px auto;
    background-color: #c9d1d9;
    border-radius: 7px;
}

.skills-card {
    width: 70%;
    margin: auto;
    align-items: center;
    background-color: #c9d1d9;
    display: flex;
    justify-content: space-between;
}

.skills-card-img {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 20px;
}

.skills-card-name {
    font-size: 22px;
    font-weight: 500;
    line-height: 1;
}

/*-------------------- project ----------------*/

#projects {
    width: 70%;
    margin: 60px auto 0px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #333469;
    border-radius: 9px;
    align-items: center;
}

.project-card {
    width: 85%;
    margin: auto;
    border: 2px solid darkgreen;
    margin: 50px auto;
    background-color: #c9d1d9;
}

.project-card>div {
    padding: 1em;
}

.project-card div>img {
    width: 100%;
    height: 245px;
    /* object-fit: cover; */
}

.project-description {
    margin: 8px auto;
}

.project-github-link,
.project-deployed-link {

    width: 150px;
    margin: auto 10px;

    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: black;
    line-height: 1.15;
    font-size: 16px;
}

.project-button-div {
    margin: auto;
    margin: 15px auto auto;
}

.project-button-div button {
    margin-bottom: 5px;
}

.project-button-div button a {
    color: black
}

.project-button-div button a:hover {
    color: white;
}

/*----------------------- github --------------------*/

#git-cont {
    margin: 60px auto 0px;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: #333469;
    border-radius: 9px;
}

#git-cont img {
    margin: 5px;
    width: 40%;
}

#git-one {
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#git-one img {
    border-radius: 7px;
}

#git-two {
    margin: 20px auto auto;
}

#github-top-langs {
    width: 40%;
}

/*--------------------------------- contact -----*/

#contact {
    width: 70%;
    margin: 60px auto 100px;
    display: flex;
    padding: 10px;
    background-color: #333469;
    border-radius: 9px;
}

#contact-text {
    width: 40%;
    padding: 2em;
    margin: 30px auto;
    background-color: #c9d1d9;
    border-radius: 10px;
}

.contact-text-logo {
    margin: 20px;
    margin-left: -3px;
    border-radius: 2px;
    background-color: #c9d1d9;
    border: none;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: medium;
    padding: 2px;
}

#contact-link {
    margin: 50px auto auto;
}

.contact-link-logo {
    /* width: 50px; */
    height: 50px;
    border-radius: 2px;
    background-color: #c9d1d9;
    margin-left: 10px;
}

#contact-linkedin {
    border: none;
}

#contact-github {
    border: none;
}

.contact-form {
    background-color: #c9d1d9;
    width: 50%;
    padding: 2em;
    border-radius: 10px;
    margin: 30px auto;
}

.contact-form label {
    color: black;
}

.contact-form .heading {
    font-size: 24px;
    color: black;
    margin-bottom: 12px;
    font-weight: bold;
    display: block;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 10px;
}

textarea {
    resize: none;
    height: 80px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid rgb(27, 20, 76);
    border-radius: 5px;
    margin-bottom: 20px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #333469;
}

.contact-form button[type="submit"] {
    background-color: #333469;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button[type="submit"]:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}













/* ----------------- */

@media screen and (min-width:701px) and (max-width:1080px) {

    /* Here Write all the necessery styles for Medium Screen size  */
    /* .nav_link-container {
        width: 85%;
    }

    #nav-menu>.nav_logo-container {
        width: auto;
        position: fixed;
        margin-top: 15px;
    } */
    .logo{
        padding-left: 40px;
    }

    /*------------------- Home --------------*/
    #home {
        width: 90%;
    }

    .child2 {
        width: 80%;
        font-size: calc(28px + 0.390625vw);
        color: #213549;
    }

    /*------------------ about -------------*/
    #about {
        width: 90%;
        height: auto;
        padding: 1em;
        margin: 30px auto 100px;
        color: #c9d1d9;
        display: flex;
        justify-content: space-between;
        background-color: #333469;
        border-radius: 9px;
        object-fit: cover;
    }

    /*-------------------- skill ----------------*/
    #skills {
        width: 90%;
        /* display: grid;
        grid-template-columns: repeat(4,1fr); */
    }

    .skills-card {
        width: 98%;
    }

    /*--------------------- project ----------------------------*/
    #projects {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /*-------------------------- github ---------------------------*/
    #git-cont {
        width: 90%;
        /* display: flex; */
        /* flex-direction: column; */
    }

    /*------------------------- contact ----------------*/
    #contact {
        width: 90%;
    }

    #contact-taxt {
        width: auto;
    }

}



@media screen and (min-width:200px) and (max-width:699px) {

    /* Here Write all the necessery styles for Small Screen size  */
    /* .nav_link-container {
        width: 100%;
        font-size: small;
    } */
    .logo{
        padding-left: 20px;
    }
    .nav-manu{
        margin-top: -100px;
    }



    #home {
        width: 90%;
        /* margin: 150px auto 0px; */
        font-size: 30px;
        flex-direction: column-reverse;
        margin-top: 100px;
    }
    /* #home #user-detail-name{
        font-size: 30px;
    } */

    /*------------------- Home --------------*/
    .child2 {
        font-size: calc(22px + 0.390625vw);
        color: #213549;
        /* margin-left: -20px; */
    }
    .child2>#user-detail-name{
        font-size: calc(78px + 0.390625vw);
    }
    .child1{
        margin-top: 50px;
    }

    /*--------------------- about -------------------------*/
    #about {
        width: 90%;
        height: auto;
        flex-direction: column-reverse;
    }

    #home-img {
        width: auto;
    }

    #about_resBut {
        width: auto;
    }

    #about #home-div {
        height: auto;
    }

    /*-------------------- skill ----------------*/
    #skills {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .skill_cont {
        width: 90%;
    }

    .skills-card {
        padding: -10px;
    }

    /*--------------------- project ----------------------------*/
    #projects {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    /*-------------------------- github ---------------------------*/
    #git-cont,
    #git-one {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    #git-one img {
        margin: auto;
        width: 100%;
    }

    #git-one #github-stats-card {
        margin-top: 10px;
    }

    #git-two {
        margin: 10px auto auto;
        width: 90%;
    }

    /*------------------------------ contact -----------------------*/
    #contact {
        width: 90%;
        /* margin: 10px auto; */
        display: flex;
        flex-direction: column;
    }

    #contact-text {
        padding: auto;
        /* margin: 30px auto;
        background-color: #c9d1d9;
        border-radius: 10px; */
    }

    #contact>div {
        width: 90%;
    }

    /* #contact .contact-form {
        width: 90%;
    } */
}